* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #fff;
}

main {
  height: calc(100% - 100px);
  display: flex;
}

.grey {
  color: #717171;
}

/* Barra Upgrade */
.upgrade_bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 55px;
  width: calc(100% - 201px);
  background-color: rgba(0, 0, 0, 0.5);
}

.btn {
  margin-right: 5px;
  padding: 6px 15px;
  border: 1px solid #fff;
  border-radius: 50px;
  transition: 1s;
}

.btn a {
  text-decoration: none;
  color: currentColor;
}

.btn:hover {
  transform: scale(1.1);
}

/* Barra aside */

aside {
  height: 100%;
  width: 240px;
  background-color: #000000;
}

.aside_bar {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 10px;
}

.aside_bar nav {
  padding: 5px 0;
}

.aside_bar nav ul {
  list-style: none;
}

.aside_bar a {
  text-decoration: none;
  color: #717171;
}

.aside_bar a:hover {
  color: #fff;
}

.aside_bar ul li a img {
  height: 20px;
}

.playlist {
  overflow: auto;
}

.john_doe {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  justify-content: flex-end
}

/* Sezione album */
.album {
  height: 100%;
  width: 100%;
  padding-top: 65px;
  background-color: #141922;
  overflow: auto;
}

.menu_2 {
  text-align: center;
}

.menu_2 ul li {
  display: inline-block;
}

.menu_2 ul li a {
  text-decoration: none;
  color: #717171;
  padding: 5px;
}

.recently_played {
  display: flex;
  margin-bottom: 25px;
}

.album h2, .recently_played {
  margin-left: 10px;
}

.disc {
  flex-basis: calc(100% / 6);
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background-color: #282828;
}
