* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

main {
  height: calc(100% - 100px);
  display: flex;
}

/* Miscellanea */
.grey {
  color: #666666;
}

.uppercase {
  text-transform: uppercase;
}

.text_center {
  text-align: center;
}

.bold {
  font-weight: 600;
}

.flex {
  display: flex;
}

.pd_left {
  padding-left: 20px;
}

/* Barra Upgrade */
.upgrade_bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 55px;
  width: calc(100% - 201px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  visibility: visible;
}

.btn {
  margin-right: 20px;
  padding: 9px 20px;
  border: 1px solid #fff;
  border-radius: 50px;
  transition: 1s;
  font-size: 12px;
}

.btn a {
  text-decoration: none;
  color: currentColor;
}

.btn:hover {
  transform: scale(1.1);
}

/* Barra aside */
aside {
  height: 100%;
  width: 240px;
  background-color: #000000;
}

.aside_bar {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.aside_bar nav {
  padding: 5px 0px;
}

.aside_bar nav ul {
  list-style: none;
}

.aside_bar a {
  text-decoration: none;
  color: #666666;
}

.aside_bar a:hover {
  color: #fff;
}

.aside_bar a:hover .nav_icon {
  opacity: 1;
}

.logo {
  width: 65%;
  margin-bottom: 10px;
  display: block;
}

.logo_xs {
  height: 30px;
  display: none;
}

/* Prima nav */
.menu_lg {
  display: block;
}

.menu_lg ul li a:hover {
  border-left: 4px solid #1DB954;
  padding-left: 16px;
}

.menu_xs {
  display: none;
}

.nav_icon {
  height: 20px;
  opacity: 0.5;
  vertical-align: middle;
  padding-right: 6px;
  margin-bottom: 6px;
}

/* Sezione Playlist */
.plus {
  font-size: 35px;
  vertical-align: middle;
}

.playlist_title {
  font-size: 18px;
  margin: 12px 0 10px 0px;
}


.playlist {
  overflow: auto;
  line-height: 30px;
  font-size: 16px;
}

/* Sezione Account */
.john_doe {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  justify-content: flex-end;
}

.john_doe_xs {
  display: none;
}

.download {
  display: flex;
}

.download:hover img {
  opacity: 1;
}

.download img {
  height: 25px;
  opacity: 0.5;
  padding-right: 7px;
}

.aside_bar hr {
  border-bottom: transparent;
  margin: 10px 20px 10px 0;
}

.profile {
  display: flex;
}

.profile img {
  height: 30px;
  width: 30px;
  background-color: #666666;
  border-radius: 50%;
  margin-bottom: 8px;
  margin-right: 10px;
  cursor: pointer;
}

.profile:hover img {
  background-color: #777777;
}

/* Sezione Album */
.album {
  height: 100%;
  width: 100%;
  padding-top: 65px;
  background-color: #141922;
  overflow: auto;
}

.menu_2 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.menu_2 ul li {
  display: inline-block;
}

.menu_2_item {
  text-decoration: none;
  color: #666666;
  padding: 5px;
  position: relative;
}

.menu_2_item:hover {
  color: #fff;
}

.menu_2_item:hover {
  border-bottom:3px solid #1DB954;
}

/* Sezione dischi */
.album_box {
  padding: 25px 0;
}

.album_box h2, .subtitle_album_box {
  margin-left: 20px;
  margin-bottom: 5px;
}

.album_list {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}

.disc {
  flex-basis: calc((100% / 6) - 40px);
  margin: 10px 20px;
  text-align: center;
  line-height: 25px;
}

.disc_img img {
  width: 100%;
  margin-bottom: 10px;
  transition: 0.6s;
}

.disc_img {
  position: relative;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #fff;
  visibility: hidden;
}

.disc_img:hover img {
  opacity: 0.5;
}

.disc_img:hover .play {
  visibility: visible;
}

.artist {
  border-radius: 50%;
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background-color: #282828;
}

footer i {
  cursor: pointer;
}

.footer_box.left {
  flex-basis: 11%;
  align-items: center;
  justify-content: space-between;
}

.footer_box.center {
  flex-basis: 74%;
}

.footer_box.right {
  flex-basis: 15%;
  align-items: center;
  justify-content: space-around;
}

/* Footer Left */
.thumbnail {
  align-items: center;
}

.thumbnail img {
  height: 50px;
  margin: 15px;
  cursor: pointer;
}

.thumbnail_text {
  font-size: 12px;
  cursor: pointer;
}

.thumbnail_text a {
  text-decoration: none;
}

.thumbnail_text a:hover {
  text-decoration: underline;
}

.thumbnail_icon {
  opacity: 0.5;
  padding: 5px;
}

.thumbnail_icon:hover {
  opacity: 1;
}

.icon_footer {
  justify-content: center;
  align-items: center;
}

/* Footer Center */
.player_box {
  justify-content: center;
  align-items: center;
}

.player_item {
  padding: 12px 10px;
  font-size: 18px;
}

.player_item, .player_item_right {
  opacity: 0.8;
}

.player_item:hover, .player_item_right:hover {
  opacity: 1;
}

.player_item_play {
  padding: 12px 15px;
  font-size: 29px;
  transition: 0.5s;
}

.player_item_play:hover {
  transform: scale(1.2);
}

.player_control {
  align-items: center;
  justify-content: center;
}

.bar_player {
  height: 4px;
  width: 45%;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 20px;
  cursor: pointer;
}

.bar_played {
  height: 4px;
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.player_box:hover .bar_played {
  background-color: #1DB954;
}

.circle_player {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  justify-content: flex-end;
  position: absolute;
  right: -1px;
  bottom: -10px;
  visibility: hidden;
  cursor: pointer;
}

.player_box:hover .circle_player {
  visibility: visible;
}

/* Footer Right */
.bar_player_2 {
  height: 4px;
  width: 60%;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.footer_box.right:hover .bar_played {
  background-color: #1DB954;
}

.footer_box.right:hover .circle_player {
  visibility: visible;
}

/* Responsive */
/* Laptop */
@media screen and (min-width:1024px) and (max-width:1440px) {
  .disc {
    flex-basis: calc((100% / 4) - 40px);
  }

  .menu_2 {
    line-height: 30px;
  }

  .footer_box.left {
    flex-basis: 20%;
  }

  .footer_box.center {
    flex-basis: 60%;
  }

  .footer_box.right {
    flex-basis: 20%;
  }
}

/* Tablet */
@media screen and (min-width:768px) and (max-width:1023px) {
  .disc {
    flex-basis: calc((100% / 2) - 40px);
  }

  .menu_2 {
    line-height: 30px;
  }

  .footer_box.left {
    flex-basis: 30%;
    justify-content: space-evenly;
  }

  .footer_box.center {
    flex-basis: 40%;
  }

  .bar_player {
    width: 60%;
    margin: 0 10px;
  }

  .footer_box.right {
    flex-basis: 30%;
    justify-content: space-evenly;
  }
}

/* Smartphone */
@media screen and (max-width:767px) {
  .aside_bar {
    width: 55px;
    padding-left: 0;
    text-align: center;
    height: calc(100% - 44px);
  }

  .logo {
    display: none;
  }

  .logo_xs {
    display: block;
  }

  .nav_icon {
    margin-right: 0;
    height: 30px;
    margin: 6px 0;
  }

  .menu_lg {
    display: none;
  }

  .menu_xs {
    display: block;
  }

  .playlist_title, .playlist_subtitle, .playlist {
    display: none;
  }

  .john_doe {
    display: none;
  }

  .john_doe_xs {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    justify-content: flex-end;
    align-items: center;
  }

  .profile img {
    margin: 8px 0;
  }

  .upgrade_bar {
    width: calc(100% - 55px);
  }

  .menu_2 {
    line-height: 30px;
  }

  .disc {
    flex-basis: calc((100% / 2) - 40px);
  }

  footer {
    flex-wrap: wrap;
    height: 145px;
  }

  .footer_box.left {
    flex-basis: 37%;
    height: 50%;
    order: 2;
  }

  .footer_box.center {
    flex-basis: 100%;
    order: 1;
    height: 50%;
  }

  .footer_box.right {
    flex-basis: 50%;
    order: 3;
    height: 50%;
    margin-left: auto;
  }

}

/* Responsive in altezza */
@media screen and (max-height:350px) {
  .upgrade_bar {
    visibility: hidden;
  }

  .album {
    padding-top: 25px;
  }
}
